<nav>
  <p class="logo">Water <span class="logo-sub">is life</span></p>
  <img id="menuIcon" class="responsive-navbar" src="images/menu-icon.svg" alt="menu">
  <ul class="nav-main">
    <li><a href="index.html">home</a></li>
    <li><a href="https://github.com/colorlessenergy">My Work</a></li>
    <li><a href="contact.html">Get in touch</a></li>
  </ul>
  <div id="responsive-nav" class="responsive-nav">
    <div class="top">
      <p class="logo">Water <span class="logo-sub">is life</span></p>
      <p class="responsive-navbar">x</p>
    </div>
    <ul class="nav-info">
      <li><a href="index.html">home</a></li>
      <li><a href="https://github.com/colorlessenergy">My Work</a></li>
      <li><a href="contact.html">Get in touch</a></li>
    </ul>
  </div>
</nav>
