<nav>
  <p class="logo">Water <span class="logo-sub">is life</span></p>
  <img id="menuIcon" class="responsive-navbar" src="images/menu-icon.svg" alt="menu">
  <ul class="nav-main">
    <li>My Work</li>
    <li>Services</li>
    <li>Get in touch</li>
  </ul>
  <div id="responsive-nav" class="responsive-nav">
    <div class="top">
      <p class="logo">Water <span class="logo-sub">is life</span></p>
      <p class="responsive-navbar">x</p>
    </div>
    <ul class="nav-info">
      <li>My Work</li>
      <li>Services</li>
      <li>Get in touch</li>
    </ul>
  </div>
</nav>
